In [3]:
import pandas as pd

# Replace 'file_path.csv' with your file's path
male_all_description = pd.read_csv('M_all_vid_descriptions_2024_04_28.csv')

In [4]:
male_all_description

,video_id,description_string,description_list
0,7359310165461568798,do you know what drives me nuts about what‚Äôs g...,"['do', 'you', 'know', 'what', 'drives', 'me', ..."
1,7355557230193773866,totalof my heart ‚ù§Ô∏èüë®‚Äçüë©‚Äçüëß‚Äçüë¶,"['totalof', 'my', 'heart']"
2,7345476833854508319,icymi: i dive into the momentwalked into thean...,"['icymi', 'i', 'dive', 'into', 'the', 'momentw..."
3,7345202286848642347,re: joe biden‚Äôs stutter,"['re', 'joe', 'bidens', 'stutter']"
4,7344046721384582431,anmessage from my mom.mom was one of the first...,"['anmessage', 'from', 'my', 'mommom', 'was', '..."
...,...,...,...
951,7308890266239552814,üö®teaser alertüö®: medicare advantage is one of t...,"['teaser', 'alert', 'medicare', 'advantage', '..."
952,7306649030644206890,step 1: strengthen medicare. step 2: medicare ...,"['step', 'strengthen', 'medicare', 'step', 'me..."
953,7302143436851809578,the topic of medicare advantage is deeply pers...,"['the', 'topic', 'of', 'medicare', 'advantage'..."
954,7301454548730711338,question: what would you call the ex-president...,"['question', 'what', 'would', 'you', 'call', '..."
955,7298830746351832366,i'm introducing legislation to create a nation...,"['im', 'introducing', 'legislation', 'to', 'cr..."

In [5]:
male_categories = pd.read_csv('male_categories_all.csv')

In [6]:
male_categories

                video_id                                        Description
0    7283952208561933599                            defense, law, and crime
1    7278392468788366634                            defense, law, and crime
2    7257715712897125675                            defense, law, and crime
3    7357176379433094442                       health, education, and labor
4    7356391987936873771                       health, education, and labor
..                   ...                                                ...
969  7162640962437582122                                              other
970  7157473128728349994   civil rights, immigration and international a...
971  7157405511741132078                                       civil rights
972  7155928934750653742                                            culture
973  7153766037387873582                                          education

[974 rows x 2 columns]

In [7]:
male_categories.rename(columns={'Description': 'Category'}, inplace=True)

In [8]:
male_categories

                video_id                                           Category
0    7283952208561933599                            defense, law, and crime
1    7278392468788366634                            defense, law, and crime
2    7257715712897125675                            defense, law, and crime
3    7357176379433094442                       health, education, and labor
4    7356391987936873771                       health, education, and labor
..                   ...                                                ...
969  7162640962437582122                                              other
970  7157473128728349994   civil rights, immigration and international a...
971  7157405511741132078                                       civil rights
972  7155928934750653742                                            culture
973  7153766037387873582                                          education

[974 rows x 2 columns]

In [17]:
mask = ~male_categories['video_id'].isin(male_all_description['video_id'])

# Filter male_categories with the mask
non_matching_categories = male_categories[mask]

In [18]:
non_matching_categories

                video_id                       Category
0    7283952208561933599        defense, law, and crime
1    7278392468788366634        defense, law, and crime
2    7257715712897125675        defense, law, and crime
3    7357176379433094442   health, education, and labor
4    7356391987936873771   health, education, and labor
..                   ...                            ...
792  7227133416356105518                          other
793  7226838827837558058                   civil rights
794  7226793691812220203                          other
795  7226374163689327918                          other
796  7226090544584232235                          other

[468 rows x 2 columns]

In [11]:
merged_male = pd.merge(male_categories, male_all_description, on='video_id', how='outer')

,video_id,Category,description_string,description_list
0,6769961060226075909,other,"hello tiktok, i‚Äôm rep. mark takano üëãüèº","['hello', 'tiktok', 'im', 'rep', 'mark', 'taka..."
1,6769978510497844485,culture,baking a cake with the sweet feminist ‚òÇÔ∏è,"['baking', 'a', 'cake', 'with', 'the', 'sweet'..."
2,6829721401499421957,"health, education, and labor",$13 billion inrelief funding in theshould be g...,"['billion', 'inrelief', 'funding', 'in', 'thes..."
3,6907019172203613446,NaN,44 + 46 = ‚ù§Ô∏è,[]
4,6924425222460411141,other,i am running to bein the house of representati...,"['i', 'am', 'running', 'to', 'bein', 'the', 'h..."
...,...,...,...,...
1478,7359310165461568798,NaN,do you know what drives me nuts about what‚Äôs g...,"['do', 'you', 'know', 'what', 'drives', 'me', ..."
1479,7359600432097824043,housing and social welfare,we cannot allow the supreme court or local gov...,"['we', 'cannot', 'allow', 'the', 'supreme', 'c..."
1480,7359609189032824095,NaN,the affordable connectivity program serves ove...,"['the', 'affordable', 'connectivity', 'program..."
1481,7359628313263901995,NaN,here‚Äôs a question you don‚Äôt hear the corporate...,"['heres', 'a', 'question', 'you', 'dont', 'hea..."
1482,7359659366636719403,"economy, commerce, and transportation",t*cketmaster & j*e alwin getting cooked today ...,"['tcketmaster', 'je', 'alwin', 'getting', 'coo..."

In [15]:
males_with_na = merged_male[merged_male['Category'].isna()]

In [16]:
males_with_na

,video_id,Category,description_string,description_list
3,6907019172203613446,NaN,44 + 46 = ‚ù§Ô∏è,[]
19,6943558317230836997,NaN,NaN,[]
22,6950845821256600838,NaN,NaN,[]
23,6951239972552740101,NaN,NaN,[]
24,6952982461215214854,NaN,"it‚Äôs me,! üëÄ","['its', 'me']"
...,...,...,...,...
1471,7358909058545601838,NaN,not another nickle for netanyahu‚Äôs war machine.,"['not', 'another', 'nickle', 'for', 'netanyahu..."
1476,7359243722246081823,NaN,"this week, the house small business subcommitt...","['this', 'week', 'the', 'house', 'small', 'bus..."
1478,7359310165461568798,NaN,do you know what drives me nuts about what‚Äôs g...,"['do', 'you', 'know', 'what', 'drives', 'me', ..."
1480,7359609189032824095,NaN,the affordable connectivity program serves ove...,"['the', 'affordable', 'connectivity', 'program..."
1481,7359628313263901995,NaN,here‚Äôs a question you don‚Äôt hear the corporate...,"['heres', 'a', 'question', 'you', 'dont', 'hea..."

In [20]:
female_categories = pd.read_csv('female_categories.csv')

In [21]:
female_all_description = pd.read_csv('F_all_vid_descriptions_2024_04_28.csv')

In [22]:
mask = ~female_categories['video_id'].isin(female_all_description['video_id'])

In [23]:
non_matching_categories = female_categories[mask]

In [24]:
non_matching_categories

Empty DataFrame
Columns: [video_id, Description]
Index: []

In [25]:
female_all_description

,video_id,description_string,description_list
0,7283952208561933599,we all know who the grand puppet master is in ...,"['we', 'all', 'know', 'who', 'the', 'grand', '..."
1,7278392468788366634,if the majority wants to talk about dark money...,"['if', 'the', 'majority', 'wants', 'to', 'talk..."
2,7257715712897125675,"the party of ‚Äòlaw and order‚Äù ü§îlol, they litera...","['the', 'party', 'of', 'law', 'and', 'order', ..."
3,7357176379433094442,no one should have the right to tell women wha...,"['no', 'one', 'should', 'have', 'the', 'right'..."
4,7356391987936873771,i ran for congress because i was sick of polit...,"['i', 'ran', 'for', 'congress', 'because', 'i'..."
...,...,...,...
441,7163807350543928619,we vote within,"['we', 'vote', 'within']"
442,7163802367308074282,as long as you‚Äôre in line by 8pm the polls mus...,"['as', 'long', 'as', 'youre', 'in', 'line', 'b..."
443,7163458954188623150,be like yama and make your voice heard!,"['be', 'like', 'yama', 'and', 'make', 'your', ..."
444,7162576451697511726,"don‚Äôt mail your ballot, drop it off at a dropb...","['dont', 'mail', 'your', 'ballot', 'drop', 'it..."
445,7162575529726446891,be sure to fill out your entire ballot! if you...,"['be', 'sure', 'to', 'fill', 'out', 'your', 'e..."

In [26]:
female_categories

                video_id                                        Description
0    7325202367341727019              immigration and international affairs
1    7322564437032897834                            defense, law, and crime
2    7322506528307645739                            defense, law, and crime
3    7321188330094234923                            defense, law, and crime
4    7312955628111007022                            defense, law, and crime
..                   ...                                                ...
433  7330670871394225451              economy, commerce, and transportation
434  7330036463138065707   immigration and international affairs, defens...
435  7325587998370958638                             energy and environment
436  7325490784348753195              immigration and international affairs
437  7325213730659208490                       health, education, and labor

[438 rows x 2 columns]

In [27]:
merged_female = pd.merge(female_categories, female_all_description, on='video_id', how='outer')

In [28]:
merged_female

,video_id,Description,description_string,description_list
0,6995183391595449605,other,"hello, tiktok! got any questions for me? my q&...","['hello', 'tiktok', 'got', 'any', 'questions',..."
1,6995619470706314502,"economy, commerce, and transportation",we're going to make life a whole lot easier fo...,"['were', 'going', 'to', 'make', 'life', 'a', '..."
2,6995933159049153797,other,maple is more interested in chasing squirrels ...,"['maple', 'is', 'more', 'interested', 'in', 'c..."
3,6996394052715351302,other,lake placid üåÖ,"['lake', 'placid']"
4,6996721852626242821,other,maple had a little too much fun on the lake...,"['maple', 'had', 'a', 'little', 'too', 'much',..."
...,...,...,...,...
441,7356257374031596843,"health, education, and labor",we‚Äôre going to cancel student debt! 30 million...,"['were', 'going', 'to', 'cancel', 'student', '..."
442,7356276971082452270,"economy, commerce, and transportation",it‚Äôs official! my bipartisan veterans and outd...,"['its', 'official', 'my', 'bipartisan', 'veter..."
443,7356391987936873771,"health, education, and labor, housing and soc...",i ran for congress because i was sick of polit...,"['i', 'ran', 'for', 'congress', 'because', 'i'..."
444,7357028369654877486,"health, education, and labor",fact: fda rigorously reviewed mifepristone res...,"['fact', 'fda', 'rigorously', 'reviewed', 'mif..."
445,7357176379433094442,"health, education, and labor, civil rights",no one should have the right to tell women wha...,"['no', 'one', 'should', 'have', 'the', 'right'..."

In [29]:
merged_female.to_csv('female_manual_verification.csv', index=False)